<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	 <meta name="author" content="starm, starmbest@qq.com"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<title>个人中心</title>
	<!-- 引入YDUI样式 -->
	<link rel="stylesheet" href="../Public/css/ydui.css" />
	<!-- 引入YDUI自适应解决方案类库 -->
	<script src="../Public/js/ydui.flexible.js"></script>
	<!-- 引入starm样式 -->
	<link rel="stylesheet" href="../Public/css/starm.css" />
	<link rel="stylesheet" type="text/css" href="../Public/css/swiper.min.css">

</head>
<body>
<section class="g-flexview">
	<header class="m-navbar navbar-bg">
		<a href="index.html" class="navbar-item navbar-color">
			<i class="cells-icon icon-home-outline"></i>
		</a>
		<div class="navbar-center ">
			<span class="navbar-title navbar-color">选菜</span>
		</div>
	</header>
	<div class="g-scrollview choose">
		<div class="m-scrolltab" data-ydui-scrolltab><!-- 添加data-ydui-scrolltab就可以啦 -->
		    <div class="scrolltab-nav">
		        <a href="javascript:;" class="scrolltab-item">
		            <div class="scrolltab-title">菜品分类</div>
		        </a>
		        <a href="javascript:;" class="scrolltab-item">
		            <div class="scrolltab-title">菜品分类</div>
		        </a>
		        <a href="javascript:;" class="scrolltab-item">
		            <div class="scrolltab-title">菜品分类</div>
		        </a>
		    </div>
		    <div class="scrolltab-content">
		        <div class="scrolltab-content-item">
		            <strong class="scrolltab-content-title">空调</strong>
		            <dl>
		            	<dt><img src="../Public/images/choose.png"></dt>
		            	<dd>
		            	<p>猜名字</p>
		            	<div class="st_num_dist">
			            	<a class="decrease">-</a>
			            	<input id="num" readonly="" class="text_box"  type="text" value="0">
			            	<a class="increase">+</a>
			            </div>
		            	</dd>
		            </dl>
		            <dl>
		            	<dt><img src="../Public/images/choose.png"></dt>
		            	<dd>
		            	<p>猜名字</p>
		            	<div class="st_num_dist">
			            	<a class="decrease">-</a>
			            	<input id="num" readonly="" class="text_box"  type="text" value="0">
			            	<a class="increase">+</a>
			            </div>
		            	</dd>
		            </dl>
		            <dl>
		            	<dt><img src="../Public/images/choose.png"></dt>
		            	<dd>
		            	<p>猜名字</p>
		            	<div class="st_num_dist">
			            	<a class="decrease">-</a>
			            	<input id="num" readonly="" class="text_box"  type="text" value="0">
			            	<a class="increase">+</a>
			            </div>
		            	</dd>
		            </dl>
		            <dl>
		            	<dt><img src="../Public/images/choose.png"></dt>
		            	<dd>
		            	<p>猜名字</p>
		            	<div class="st_num_dist">
			            	<a class="decrease">-</a>
			            	<input id="num" readonly="" class="text_box"  type="text" value="0">
			            	<a class="increase">+</a>
			            </div>
		            	</dd>
		            </dl>
		        </div>
		        <div class="scrolltab-content-item">
		            <strong class="scrolltab-content-title">冰箱</strong>
		            <dl>
		            	<dt><img src="../Public/images/choose.png"></dt>
		            	<dd>
		            	<p>猜名字</p>
		            	<div class="st_num_dist">
			            	<a class="decrease">-</a>
			            	<input id="num" readonly="" class="text_box"  type="text" value="0">
			            	<a class="increase">+</a>
			            </div>
		            	</dd>
		            </dl>
		            <!-- 对应分类内容 -->
		        </div>
		        <div class="scrolltab-content-item">
		            <strong class="scrolltab-content-title">洗衣机</strong>
		            <dl>
		            	<dt><img src="../Public/images/choose.png"></dt>
		            	<dd>
		            	<p>猜名字</p>
		            	<div class="st_num_dist">
			            	<a class="decrease">-</a>
			            	<input id="num" readonly="" class="text_box"  type="text" value="0">
			            	<a class="increase">+</a>
			            </div>
		            	</dd>
		            </dl>
		            <!-- 对应分类内容 -->
		        </div>
		    </div>
		</div>
	</div>
	<footer class="m-tabbar padd0" >
	<div class="m-grids-2 st-grids" style="width: 100%">
	    <a href="#" class="grids-item">
	        <div class="grids-txt"><span>取消</span></div>
	    </a>
	    <a href="#" class="grids-item" style="background: #22a837;color:#fff">
	        <div class="grids-txt col_fff"><span>确认(<i id="total"></i>)</span></div>
	    </a>
	</div>
    </footer>
</section>
<!-- 引入jQuery 2.0+ -->
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 引入YDUI脚本 -->
<script  src="../Public/js/swiper.min.js"></script>
<script src="../Public/js/ydui.js"></script>
<script>
//购物数量加减
$(function(){
$('.increase').click(function(){
    var self = $(this);
    var current_num = parseInt(self.siblings('input').val());
    current_num += 1;
    if(current_num > 0){
        self.siblings(".decrease").show();
        self.siblings(".text_box").show();
    }
    self.siblings('input').val(current_num);
    // update_item(self.siblings('input').data('item-id'));
    setTotal();
})
$('.decrease').click(function(){
    var self = $(this);
    var current_num = parseInt(self.siblings('input').val());
    if(current_num > 0){
        current_num -= 1;
        if(current_num < 1){
            self.hide();
            self.siblings(".text_box").hide();
        }
        self.siblings('input').val(current_num);
        // update_item(self.siblings('input').data('item-id'));
    }
    setTotal();
})
function setTotal(){
    var s=0;
    $(".st_num_dist").each(function(){
    s+=parseInt($(this).find('input[class*=text_box]').val());
    });
    $("#total").html(s.toFixed(0));
    }
    setTotal();
})
</script>
</body>
</html>
