<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<meta name="author" content="starm, starmbest@qq.com"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<title>自选菜地</title>
	<!-- 引入YDUI样式 -->
	<link rel="stylesheet" href="../Public/css/ydui.css" />
	<!-- 引入YDUI自适应解决方案类库 -->
	<script src="../Public/js/ydui.flexible.js"></script>
	<!-- 引入starm样式 -->
	<link rel="stylesheet" href="../Public/css/starm.css" />
	<link rel="stylesheet" type="text/css" href="../Public/css/swiper.min.css">

</head>
<body style="background: #fff">
<section class="g-flexview">
	<header class="m-navbar">
	   <a href="javascript:history.back();" class="navbar-item navbar-color">
        <i class="cells-icon back-ico"></i>
    </a>
	    <div class="navbar-center ">
	        <span class="navbar-title navbar-color">自选菜地</span>
	    </div>

	</header>
	<div class=" g-scrollview">
		<div class="qrc_quanj">
			<div class="quanj_video">
				<iframe src="http://mudu.tv/?a=index&c=show&id=51859&type=mobile" width="100%"></iframe>
				<p>大棚全景</p>
			</div>
		</div>
		<div class="qrc_goumai">
			<h5>「推荐菜地」</h5>
			<ul>
				<li><img src="../Public/images/x.png"></li>
				<li><img src="../Public/images/x.png"></li>
				<li><img src="../Public/images/x.png"></li>
				<li><img src="../Public/images/x.png"></li>
				<li><img src="../Public/images/x.png"></li>
			</ul>
			<p>1号大棚，1号地</p>
			<div class="pay_btn"><a href="pay_caidi.html">确认购买</a></div>
			<span><a href="">自选菜地></a></span>
		</div>
	</div>
</section>
<!-- 引入jQuery 2.0+ -->
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 引入YDUI脚本 -->
<script src="../Public/js/ydui.js"></script>

</body>
</html>
